body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(black,silver,black);
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

header{
    background-color: gray;
    color:black;
    text-align:center;
    padding:15px;
    font-size:22px;
}

.container{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.gallery-box{
    background-image: white;
    width:420px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    text-align:center;
}

.gallery-box img{
    width:100%;
    height:260px;
    object-fit:contain;
    background-color:silver;
    border-radius:8px;
}

.caption{
    margin-top:12px;
    font-size:16px;
    color:#1f2933;
}

.buttons{
    margin-top:15px;
    display:flex;
    justify-content:space-between;
}

.buttons button{
    padding:8px 18px;
    background-color:#6b7280;
    color:white;
    border:none;
    border-radius:6px;
    font-size:14px;
    cursor:pointer;
}

.buttons button:hover{
    background: linear-gradient(black,silver);
}

footer{
    text-align:center;
    padding:10px;
    font-size:13px;
    color:skyblue;
}